@model List<EmployeeSales.Models.Store.StoreListModel>
@{
    ViewData["Title"] = "Store List";
}

<div class="row pt-1">
    <div class="col-12">
        <h2> Store List </h2>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        @if (Model.Count > 0)
        { 
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @if (ViewBag.SortDirection == "asc")
                            {
                                <a class="ep-text-link es-c-primary" asp-controller="Store" asp-action="StoreList" asp-route-Property="name" asp-route-Direction="desc">
                                    Name @if (ViewBag.SortProperty == "name") { <i class="fas fa-chevron-up fa-fw"></i> }
                                </a>
                            }
                            else
                            {
                                <a class="ep-text-link es-c-primary" asp-controller="Store" asp-action="StoreList" asp-route-Property="name" asp-route-Direction="asc">
                                    Name @if (ViewBag.SortProperty == "name") { <i class="fas fa-chevron-down fa-fw"></i> }
                                </a>
                            }
                        </th>
                        <th>
                            @if (ViewBag.SortDirection == "asc")
                            {
                                <a class="ep-text-link es-c-primary" asp-controller="Store" asp-action="StoreList" asp-route-Property="state" asp-route-Direction="desc">
                                    State @if (ViewBag.SortProperty == "state") { <i class="fas fa-chevron-up fa-fw"></i> }
                                </a>
                            }
                            else
                            {
                                <a class="ep-text-link es-c-primary" asp-controller="Store" asp-action="StoreList" asp-route-Property="state" asp-route-Direction="asc">
                                    State @if (ViewBag.SortProperty == "state") { <i class="fas fa-chevron-down fa-fw"></i> }
                                </a>
                            }
                        </th>
                        <th>
                            @if (ViewBag.SortDirection == "asc")
                            {
                                <a class="ep-text-link es-c-primary" asp-controller="Store" asp-action="StoreList" asp-route-Property="grossPay" asp-route-Direction="desc">
                                    Gross Profit of Past Year @if (ViewBag.SortProperty == "grossPay") { <i class="fas fa-chevron-up fa-fw"></i> }
                                </a>
                            }
                            else
                            {
                                <a class="ep-text-link es-c-primary" asp-controller="Store" asp-action="StoreList" asp-route-Property="grossPay" asp-route-Direction="asc">
                                    Gross Profit of Past Year @if (ViewBag.SortProperty == "grossPay") { <i class="fas fa-chevron-down fa-fw"></i> }
                                </a>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var store in Model)
                    {
                        <tr>
                            <td>
                                <a class="ep-text-link text-dark ep-pointer" asp-controller="Store" asp-action="StoreView" asp-route-Id="@store.Id">
                                    @store.StoreName
                                </a> 
                            </td>
                            <td>
                                @store.State
                            </td>
                            <td>
                                @store.GrossYearlyProfit
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>There are currently no stores avialable</h3>
        }
    </div>
</div>