.ep-pointer {
    cursor: pointer;
}

.ep-text-link {
    text-decoration: none;
    color: inherit
}

.ep-text-link:hover {
    text-decoration: none;
    color: inherit
}

.ep-text-link:visited {
    text-decoration: none;
    color: inherit
}

.ep-data-container {
    background-color: #fff;
    border-radius: 10px;
}

.ep-label {
    font-size: 16px;
    font-weight: 700;
}